@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');



body{ font-family: "Montserrat","Noto Sans TC", sans-serif; letter-spacing: 0.5px;} 

.container {
  width: 100%;
  margin: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 540px){
  .container{
    max-width: 540px;
  }
}

@media (min-width: 720px){
  .container{
    max-width: 720px;
  }
}

@media (min-width: 960px){
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1140px){
  .container{
    max-width: 1140px;
  }
}

@media (min-width: 1320px){
  .container{
    max-width: 1320px;
  }
}

.sticky .signUpBtn{
  --tw-bg-opacity: 1;
  background-color: rgb(0 134 100 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sticky .signUpBtn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(27 68 200 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* .ud_header_sub {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.ud_header_main {
  transition: opacity 0.3s ease, visibility 0.3s ease;
} */


/* Hidden state */
/* .hidden {
  opacity: 0;
  visibility: hidden;
} */


.tab {
  position: relative;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  /* background-color: #2F3535;
  color: #2F3535; */
  /* border: 2px solid;
  border-radius: 0.5rem; */
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem 0;
}
.tab__label::after {
  content: url("./../images/svg/Plus.svg");
  width: 1em;
  height: 1em;
  margin: 0 4px;
  text-align: center;
  /* transform: rotate(90deg); */
  transition: all 0.35s;
}
/* .tab input:checked + .tab__label::after {
  transform: rotate(270deg);
} */
.tab__content p {
  margin: 0;
  padding: 1rem 0;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

.tab input:checked + .tab__label::after {
  content: url("./../images/svg/Group_187.svg"); /* Change icon when checked */
  /* transform: rotate(270deg); */
}


/* https://pagedone.io/docs/carousel */
/* CSS Code */
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  /* padding-bottom: 64px !important; */
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  }

  .swiper-pagination-bullet {
    background: #008664;
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    background: #008664 !important;
    height: 12px;
    width: 2.4rem;
    border-radius: 1rem !important;
  }
  
  #profile-tab[aria-selected="false"] + img {
    display: none;
  }

  #dashboard-tab[aria-selected="false"] + img {
    display: none;
  }


  